.myPosts {
  display: grid;
  background-color: hotpink;
  padding: 1em;
}

.postsWrap {
  display: grid;
  width: 200px;
}
.postsWrap textarea {
  width: 40em;
  min-height: 10em;
  resize: none;
}

.postsWrap button {
  background-color: royalblue;
  width: 100%;
  min-height: 3em;
  margin: 0.5em;
}
